/*font families*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h1 {
  font-family: 'Barlow', sans-serif;
}

h2 {
  font-family: 'Barlow', sans-serif;
}

p {
  font-family: 'Playfair Display', serif;
}

/*main website banner attributes*/
.banner {
  display: flex;
  background-color: rgb(196, 245, 244);
  padding: 10px;
  margin: 2px;
}

/*changing up the logo/name within the banner*/
.logo {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 50px 5px;
}

.logo img {
  align-items: center;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 25px;
}

/*navigation items within main banner*/
nav ul {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}

nav ul li {
  display: list-item;
  justify-content: center;
  padding: 5px;
}

.donate {
  display: inline;
  background-color: rgb(234, 128, 28);
  padding: 3px;
  border: solid black;
  color: white;
}

/*large banner photo*/
.big_photo {
  display: block;
  max-width: 100%;
  height: 50%;
}

/*project section*/
.projects {
  display: flex;
  flex-direction:column;
  padding: 10px;
}

.projects img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  align-items: content;
}

.projects p {
  height: 50px;
  width: 200px;
}

/*news sections*/
.news {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  margin: 15px;
}

.news img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  align-items: content;
}

/*involvement section*/
.involvement img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing {
  width: 150px;
  height: 120px;
  object-fit: cover;
}

.help {
  width: 150px;
  height: 120px;
  object-fit: cover;
}

.walk {
  width: 150px;
  height: 120px;
  object-fit: cover;
}

.socials {
  width: 20%;
  height: auto;
}

footer {
  background-color:rgb(196, 245, 244);
  padding: 5px;
}

/*media queries*/
@media (max-width: 1080px) {
  .donations {
    display: none;
  }
}

/*tablet queries*/
@media (min-width: 700px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  nav ul {
    list-style: none;
    display: grid;
    padding: 10px;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .donate {
    justify-content: center;
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 35px;
  }

  .news_h1 {
    padding: 30px 30px 10px;
  }

  .projects_h1 {
    padding: 30px 30px 10px;
  }

  .involvement_h1 {
    padding: 30px 30px 10px;
  }

  .statement p {
    display: inline;
    font-size: 0.9rem;
  }
  .statement {
    display: inline;
    background-color: rgb(158, 243, 205);
    padding: 30px 20px 15px 20px;
  }

  .news img {
      display: block;
      width: 200px;
      height: 200px;
      object-fit: cover;
      align-items: content;
    }
  p {
    font-size: 20px;
    }
  
  .involvement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px 40px 20px;
  }

  .playing {
    width: 200px;
    height: 170px;
    object-fit: cover;
  }
  
  .help {
    width: 200px;
    height: 170px;
    object-fit: cover;
  }
  
  .walk {
    width: 200px;
    height: 170px;
    object-fit: cover;
  }
  
  .socials {
    width: 20%;
    height: auto;
    padding: 5px 40px 20px;
    display: flex;
    align-self: right;
  }
  }

/*desktop queries*/
@media (min-width: 1080px) {
  .statement p {
    display: inline;
    font-size: 1.4rem;
  }
  .statement {
    display: inline;
    background-color: rgb(158, 243, 205);
    padding: 30px 20px 15px 20px;
  }

  .news_h1 {
    padding: 40px 40px 20px;
  }

  .projects_h1 {
    padding: 40px 40px 20px;
  }

  .involvement_h1 {
    padding: 40px 40px 20px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: space-evenly;
    font-size: 25px;
  }

  .involvement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px 40px 20px;
  }

  .socials {
    align-content: right;
  }

  .playing {
    width: 250px;
    height: 220px;
    object-fit: cover;
  }
  
  .help {
    width: 250px;
    height: 220px;
    object-fit: cover;
  }
  
  .walk {
    width: 250px;
    height: 220px;
    object-fit: cover;
  }
  
  .socials {
    width: 20%;
    height: auto;
    padding: 5px 40px 20px;
    display: flex;
    align-self: right;
  }

  .donations {
    position: fixed;
    top: 20%;
    right: 0;
    border: solid white;
    background-color: rgb(244, 201, 242);
    height: 200px;
    width: 350px;
    text-align: center;
  }
  .message {
    font-size: 28px;
  }
  .donate2 {
    font-size: 35px;
    padding: 10px;
    background-color:aliceblue;
    border: solid black;
    display: inline;
  }
}